# brazilian e-commerce data analysis: pandas data exploration

In [1]:
import pandas as pd

In [2]:
# read data function
def read_data(file_name):
    data = pd.read_csv(f"../data/{file_name}.csv")
    return data

In [3]:
# datasets dict
dataset_names = [
    "customers",
    "geolocation",
    "order_items",
    "order_payments",
    "order_reviews",
    "orders",
    "product_category",
    "products",
    "sellers"
]

In [4]:
# reading the dataset
datasets = {
    name: read_data(name) for name in dataset_names
}

In [5]:
orders = datasets["orders"]
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
{key: data.shape for key, data in datasets.items()}

{'customers': (99441, 5),
 'geolocation': (1000163, 5),
 'order_items': (112650, 7),
 'order_payments': (103886, 5),
 'order_reviews': (99224, 7),
 'orders': (99441, 8),
 'product_category': (71, 2),
 'products': (32951, 9),
 'sellers': (3095, 4)}

In [7]:
customers = datasets["customers"]
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [8]:
orders = datasets["orders"]
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [9]:
order_items = datasets["order_items"]
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [10]:
products = datasets["products"]
products.sample(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
2286,c862d801c5bf9b08e1bde0e3801199ed,automotivo,56.0,1445.0,2.0,1100.0,32.0,13.0,30.0
14731,e01d7d6a1fbdf0aae35d34fa66766399,utilidades_domesticas,51.0,184.0,1.0,250.0,30.0,20.0,20.0
18315,6aafd3c0f3c474278b14545ef46bb99b,construcao_ferramentas_construcao,54.0,186.0,6.0,17800.0,48.0,23.0,48.0
28052,335869ee35680c410f30db87ecdc83a3,relogios_presentes,55.0,1331.0,2.0,291.0,16.0,11.0,12.0
24616,56fa78f2a0c7d428e8aaa226dac0fbfb,relogios_presentes,39.0,648.0,1.0,400.0,23.0,7.0,17.0

In [11]:
products.columns.tolist()

['product_id',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [12]:
sellers = datasets["sellers"]
sellers.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
1526,8931a84a914b3fe9b1ddaa4d704947ca,8410,sao paulo,SP
1405,b77a27b1864483e721dc831d5ba4afa0,25251,duque de caxias,RJ
2636,5a6a02f419701fc8c605af71d4fc57a4,13465,americana,SP
2414,702835e4b785b67a084280efca355756,36046,juiz de fora,MG
226,a17f621c590ea0fab3d5d883e1630ec6,18055,sorocaba,SP

In [13]:
payments = datasets["order_payments"]
payments.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
88667,9a25f8f4708b9143f6583aecb14d9558,1,credit_card,1,61.75
99219,8e573d30402e9b57443d6dd90ab0262f,1,credit_card,10,297.58
74466,3255ba790805f96d2755c07847d31f50,1,credit_card,2,58.64
62226,f30b0f98bf4dd642e36ee8185aba1329,1,credit_card,4,237.52
10894,cd9b48fbcef64e5b838f5026ac43c776,1,credit_card,5,103.36

In [14]:
reviews = datasets["order_reviews"]
reviews.sample(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
57273,d6071457d4eca93a24d3c4146406e7a2,af15b02bd22fa4485130964ab9c97f4d,5,NaN,NaN,2017-05-02 00:00:00,2017-05-02 21:24:14
55853,bf8b75f8ce1bb5602e29f4a26673af51,331ec8fd37b237cfe255176db487a755,5,NaN,O produto chegou antes do prazo,2017-11-07 00:00:00,2017-11-07 17:35:56
4686,e5f3ff041a0dc755bd4ace8c5cfae361,0392bc239ce28b0377e6b3073df2c674,5,NaN,Entrega rápida e produto muito bom!!,2017-07-25 00:00:00,2017-07-25 23:27:01
88918,a8b3acafef77de433d34215c9e24964c,5d5a92f1288cfea0501ef343c74591a9,1,NaN,comprei o produto e ate hj não recebir\r\n,2018-03-29 00:00:00,2018-03-29 13:41:12
77579,0e4c2e58fef46b6bfb0cea89e4b2d56a,43a462022e4f6463144b36cc47783b7f,4,NaN,NaN,2018-08-04 00:00:00,2018-08-04 20:50:05

In [15]:
reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [16]:
reviews.columns.tolist()

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [17]:
geolocation = datasets["geolocation"]
geolocation.sample(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
237940,9751,-23.692214,-46.547316,sao bernardo do campo,SP
870522,84600,-26.223175,-51.092629,uniao da vitoria,PR
389384,18400,-23.989592,-48.875264,itapeva,SP
329066,14060,-21.136980,-47.814171,ribeirao preto,SP
118332,5026,-23.533812,-46.691669,sao paulo,SP

In [18]:
product_category = datasets["product_category"]
product_category.head(5)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [19]:
product_category.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64