# brazilian e-commerce data analysis: pandas data exploration

In [2]:
import pandas as pd

In [3]:
# read data function
def read_data(file_name):
    data = pd.read_csv(f"../data/{file_name}.csv")
    return data

In [4]:
# datasets dict
dataset_names = [
    "customers",
    "geolocation",
    "order_items",
    "order_payments",
    "order_reviews",
    "orders",
    "product_category",
    "products",
    "sellers"
]

In [5]:
# reading the dataset
datasets = {
    name: read_data(name) for name in dataset_names
}

In [6]:
orders = datasets["orders"]
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [7]:
{key: data.shape for key, data in datasets.items()}

{'customers': (99441, 5),
 'geolocation': (1000163, 5),
 'order_items': (112650, 7),
 'order_payments': (103886, 5),
 'order_reviews': (99224, 7),
 'orders': (99441, 8),
 'product_category': (71, 2),
 'products': (32951, 9),
 'sellers': (3095, 4)}

In [8]:
customers = datasets["customers"]
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
orders = datasets["orders"]
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [10]:
order_items = datasets["order_items"]
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [13]:
products = datasets["products"]
products.sample(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
2387,24a8def3ef6e6ee8fcaabfa6e0e9f6be,ferramentas_jardim,55.0,1654.0,2.0,500.0,20.0,15.0,15.0
6762,a45d376e2359c18076d5c16a042777e5,esporte_lazer,54.0,1814.0,1.0,1286.0,24.0,21.0,22.0
713,1cac2c9aee1db62c108da2205880e09c,utilidades_domesticas,55.0,536.0,1.0,600.0,28.0,18.0,17.0
20739,46b769809b6fb1728843192da1732171,esporte_lazer,53.0,142.0,3.0,450.0,16.0,10.0,16.0
15206,571547781b09e0d5b1b0fe849e41728d,malas_acessorios,60.0,957.0,7.0,1550.0,30.0,50.0,20.0

In [12]:
products.columns.tolist()

['product_id',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [14]:
sellers = datasets["sellers"]
sellers.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
2433,1e8c6a4c538f286aee9573239740a4b4,13251,itatiba,SP
1658,79a679c36c08d606b3fd47ead9de109b,2611,sao paulo,SP
239,ececbfcff9804a2d6b40f589df8eef2b,14407,franca,SP
1557,75fbb52eda0cbc24f479d3b2fbfa8d3e,74560,goiania,GO
2504,b3e2faf2c1004d674f16a3aa3197f0e1,14093,ribeirao preto,SP

In [15]:
payments = datasets["order_payments"]
payments.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
16894,5f4fb6276021ebd35972ce9dcccfed59,1,credit_card,1,70.49
63903,da1b33a717a76516deb6b4db0bbfa8f0,1,credit_card,3,237.63
81207,9bd5c53e69d9f7ddcd2ac219938bb4be,1,boleto,1,154.18
33547,69b12121d8945a3eb37c23bfd3a9d0c9,1,credit_card,2,139.62
27539,bfb369fd1877d8e3192f79562eacb5e8,1,credit_card,1,32.75

In [16]:
reviews = datasets["order_reviews"]
reviews.sample(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
28227,ce03164d2a5dab475d695861cfda24ac,d04aa7a56c20579debaf2cd69ce4dd73,5,NaN,Loja sempre agiu com correção.,2017-03-22 00:00:00,2017-03-23 12:15:13
85427,2c941400c298c8e5bb0abcc543a7a348,0d5f49b8f9f7176361444dcc91621776,5,NaN,NaN,2017-08-18 00:00:00,2017-08-20 22:05:35
5426,0e627b46a0165d998de07559e1823ec2,231f0baccdba5c1d4ec4dd711da58b1e,4,NaN,NaN,2018-07-13 00:00:00,2018-07-14 11:20:36
98190,8c27db7a75ebb565b08fb89bf63a7246,9bf744c017456c82da8849a2c92bae84,1,NaN,Boa noite! Gostaria de saber se tem como eu ca...,2018-01-18 00:00:00,2018-01-23 22:33:35
72983,e7598a361c83affd0b7a71bf86805c29,b0a46fa6d7a8afcac44b6e1af2457409,1,NaN,"não Recebi meu produto , ninguém entrou em con...",2018-04-15 00:00:00,2018-04-15 14:23:49

In [17]:
reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [18]:
reviews.columns.tolist()

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [19]:
geolocation = datasets["geolocation"]
geolocation.sample(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
202051,8295,-23.546893,-46.451646,sao paulo,SP
497118,26262,-22.768425,-43.435400,nova iguacu,RJ
485219,25272,-22.617644,-43.204809,duque de caxias,RJ
90431,4431,-23.690158,-46.653691,sao paulo,SP
18492,1521,-23.562736,-46.617702,sao paulo,SP